<div class="container">
<!-- if player error put message -->
  <div class="player_login">

    <form id="player_login" method="POST" action="/create_user1">
      <label><h1>Player 1</h1><br>
      <%if @player1_error%>
        <h2><%="Invalid Name"%></h2>
      <%end%></label>
      <input type="text" name="player1" placeholder="AAA">
      <label><h1>Player 2</h1><br>
      <%if @player2_error%>
        <h2><%="Invalid Name"%></h2>
      <%end%></label>
      <input type="text" name="player2" placeholder="AAA"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>


</div>
